# Python temporary files
__pycache__/
test.py
*.py[cod]
*.png

# ignore training folders
logs_realistic/
models_realistic/


# Virtual environments (modify if yours is named differently)
venv/
env/
.env
.venv/

# Environment variables (secrets)
.env

# IDE settings (optional but recommended)
.vscode/
.idea/